body {
  padding: 16px;
}
img {
  width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  width: 100vw;
  height: 100vh;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}
